<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjektSklep</title>
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/css/site.css") />    
</head>
<body>
    <div class="page-header">
        <nav class="navbar navbar-light bg-light">
            <div class="float_left">
                <a href="/Home/Index"><fieldset style="border: 2px solid; padding: 3px"> <h2> LOGO </h2> </fieldset></a>
            </div>

            <div class="container">
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
                            <i class="fa fa-search">Szukaj</i>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <nav class="navbar navbar-light bg-light">
                    <button class="btn btn-secondary" type="button"> Ustawienia </button> &nbsp;
                   
                    @*</nav>
        <nav class="navbar navbar-light bg-light">*@
                    <button class="btn btn-secondary" type="button"> Zaloguj się </button>
                </nav>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row" >
            <nav id="nav-sidebar" class="bg-faded" >
                @*<div class="sidebar-header hidden-sm-down">
                    <h2>Kategorie</h2>
                    <hr />
                </div>*@
                <div class="sidebar-content hidden-sm-down">
                    <ul class="list-group list-group-flush" id="categories">
                        @*@RenderSection("Categories", required: true);*@
                    </ul>
                </div>

                <!-- CRUD --> 
                <div class="sidebar-content hidden-sm-down">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DiscountCodes" asp-action="Index">DiscountCodes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Addresses" asp-action="Index">Addresses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PageConfigurations" asp-action="Index">PageConfigurations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ShippingMethods" asp-action="Index">ShippingMethods</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PaymentMethods" asp-action="Index">PaymentMethods</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Attachments" asp-action="Index">Attachments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Experts" asp-action="Index">Experts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductOrders" asp-action="Index">ProductOrders</a>
                        </li>
                    </ul>
                </div>

            </nav>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - ProjektSklep - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
