@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        @foreach (Product p in ViewBag.produkty)
        {
            <li>@p.Name</li>
        }
    </ul>
</div>


@section Categories{
    @foreach (Category c in ViewBag.kategorie)
    {
        <li class="nav-item">
            <a class="nav-link" href="#">@c.Name </a>
        </li>
    }
}



