@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> NO ELO </p>
    <p> NO ELO </p>
    <p>NO ELO</p>
    <p>SIEMA DODANE</p>
    <p>Moja zmiana</p>
    <p>Moja zmiana kolejna 123123</p>
    <p>ELUWINA</p>
    <p>TO JA BARTEK KURNA</p>

    <p>dgasdjkgsadkaasddsfasdfgasdfjkasdgfhkasdkgfasdfjkdas</p>
    <p>asdfhasdgjkfgasdjkfgjkasdgfjkasdgfjkasdgjkfgajksdgfjkkasdfajksdfadsfdasfa</p>
    <p>TO KOZIK</p>
</div>
