@{
    ViewData["Title"] = "Strona główna";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-group">
    @foreach (Product p in ViewBag.produkty)
    {
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div>OBRAZEK</div>
            <div style="float:right; width:80%;">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@p.Name</h5>
                    <small>@p.Price PLN</small>
                </div>
                <p class="mb-1">Przykładowy krótki opis produktu lub jakieś inne pierdoły, które będą dodane z bazy danych.</p>
                <small>Kategoria / Autor wpisu</small>
            </div>
            <div style="clear:both; font-size:1px;"></div>
        </a>
    }
</div>

<!--Kod do obslugi zalacznikow-->
<h2>Jakis basicowy file upload</h2>
<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Index">
    <div class="form-group">
        <div class="col-md-10">
            <p>Wybierz 1 lub wiecej plikow:</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" /><br />
            @ViewData["ExtensionWarning"]
        </div>
    </div>
</form>




@*@section Categories{*@

@*@foreach (Category c in ViewBag.kategorie) *@
<!--
{
 <button type="button" class="list-group-item list-group-item-action" id="category">@*@c.Name*@</button>
}

}
-->
