@{
    ViewData["Title"] = "Strona główna";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-group">
    @foreach (Product p in Model.Products)
    {
        @await Html.PartialAsync("_PartialProduct", p)
    }
</div>

@section Categories {
    <nav id="nav-sidebar" class="bg-faded">
        <div class="sidebar-header hidden-sm-down">
            <h2>Kategorie</h2>
            <hr />
        </div>
        <div class="sidebar-content hidden-sm-down">
            <ul>
                @foreach (Category c in Model.Categories)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Index" asp-route-CategoryId="@c.CategoryID">@c.Name</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
}

<!--Kod do obslugi zalacznikow-->
<h2>Jakis basicowy file upload</h2>
<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Index">
    <div class="form-group">
        <div class="col-md-10">
            <p>Wybierz 1 lub wiecej plikow:</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" /><br />
            @ViewData["ExtensionWarning"]
        </div>
    </div>
</form>



